*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-color: rgb(0, 255, 191); */
  font-family: 'Courier New', Courier, monospace;
  background: rgb(14, 9, 24);

}
.container{
  margin: 100px;
  /* background-color: rgb(42, 29, 29); */
  padding: 20px;
  box-shadow:5px 5px 5px 5px rgb(23, 14, 41);
  border-radius: 29px;
  width: 400px;
  margin-left: 40%;
  
}
button{
  padding: 7px ;
  cursor: pointer;
  width: 150px;
  border-radius: 6px;
  border: 2px solid aqua;
  color: rgb(255, 255, 255);
  background:linear-gradient(to right ,rgb(18, 172, 123) 50%,rgb(0, 33, 25) );
  background-size: 200% 100%;
  background-clip: border-box;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px rgb(64, 158, 147);
  transition: ease-out .7s;
}
button:hover{
 background-position: right;
}
h1{
  text-align: center;
  color: white;

 
}